body {
    background-color: rgb(231, 197, 197);
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Reem Kufi', sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  margin:auto;
  margin-top: 0px;
  border-radius: 100%;
  margin-bottom: 40px;
  
}

div {
  border: 3px solid rgb(118, 111, 111);
  font-size: 8vmin;
  text-align: center;
  
}

.standard {
  background-color: rgba(21, 238, 223, 0.862);
  
}
.x {
  color: rgba(76, 76, 76, 0.932);
  font-weight: 300;
}
.o {
  color: rgba(76, 76, 76, 0.932);
  font-weight: 300;
}
h1 {
  text-align: center;
  margin-top: 100px;
}
h2 {
  text-align: center;
  margin: 50px 0 20px 0;

}
#sq0 {
  border-radius: 15px 0 0 0;
}
#sq2 {
  border-radius: 0 15px 0 0;
}
#sq6 {
  border-radius: 0 0 0 15px;
}
#sq8 {
  border-radius: 0 0 15px 0;
}
#reset-button {
  height: 40px;
  width: 80px;
  align-self: center;
  border-radius: 30px;
  background-color: white;
  font-size: 18px;
}

